body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
}
h2, h3 {color: #666;}
p {padding: 3px 0;}
div.main {
    width: 800px;
    margin: 0 auto;
    padding: 0;
    line-height: 1.9em;
}
#breadcrumb {
    width: 100%;
    overflow: hidden;
}
#breadcrumbInput a {
    padding: 0 5px;
    letter-spacing: 0.2em;
    cursor: pointer;
    font-size: 1.4em;
    text-decoration: none;
}
#breadcrumbInput a:hover,
#breadcrumbInput a.active {
    color: red;
}

@media screen and (min-width:800px) {
    div.main {
        width: 800px;
    }
}

@media screen and (max-width:799px) {
    div.main {
        width: 100%;
    }
}